<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript" src="/js/APIAddress.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/fragments/prosumerFields.js"></script>
	<script 
		type="text/javascript" 
		src="/js/prosumerSummary/prosumerStatsTable.js"
		prosumerId=<%=prosumer.id%>
	></script>
	<script type="text/javascript" src="/js/prosumerSummary/deleteAccount.js"></script>
	<script type="text/javascript" src="/js/prosumerSummary/ratios.js"
		prosumerId=<%=prosumer.id%> ></script>
</head>
<body>
	<h1><%= prosumer.id %> - <%= prosumer.account.email %></h1>
	<img style="max-height:10000;max-width:1000px" id="image" 
		src=<%= typeof image !== "undefined" && image != "" ? image : "#"%>
	>
	<%- include("../partials/prosumerStatsTable") %>
	<div>
		<h3>Excessive production</h3>
		<label id="displayExcessBatteryRatio" for="ratioExcess">0</label>
		<%- include("../partials/slider", {id:"ratioExcess"}) %>
		<label id="displayExcessMarketRatio" for="ratioExcess">100</label>
	</div>
	<div>
		<h3>Under-production</h3>
		<label id="displayDeficitBatteryRatio" for="ratioDeficit">0</label>
		<%- include("../partials/slider", {id:"ratioDeficit", style:"color:red"}) %>
		<label id="displayDeficitMarketRatio" for="ratioDeficit">100</label>
	</div>
	<br>
	<input onclick=<%=`deleteProsumerAccount(${prosumer.id})`%> type="button" value="Delete account" style="background-color:red">
</body>
</html>
