<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<%- include("../partials/bootstrap") %>
	<script type="text/javascript" src="/js/APIAddress.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/fragments/fragments.js"></script>
	<script 
		type="text/javascript" 
		src="/js/prosumerSummary/prosumerStatsTable.js"
		prosumerId=<%=prosumer.id%>
	></script>
	<script type="text/javascript" src="/js/prosumerSummary/deleteAccount.js"></script>
	<script type="text/javascript" src="/js/prosumerSummary/ratios.js"
		prosumerId=<%=prosumer.id%> ></script>
	<style>
	.container{
		margin-top: 20px;
	}
	</style>
</head>
<body>
	<%- include("../partials/navbar") %>
	<div class="container card">
		<div class="card-body">
			<h1><%= prosumer.id %> - <%= prosumer.account.email %></h1>
			<img class="img-fluid" id="image" 
				src=<%= typeof image !== "undefined" && image != "" ? image : "#"%>
			>
			<%- include("../partials/prosumerStatsTable") %>
			<div>
				<h3>Excessive production</h3>
				<p id="block-status"></p>
				<label id="displayExcessBatteryRatio" for="ratioExcess">0</label>
				<%- include("../partials/slider", {id:"ratioExcess"}) %>
				<label id="displayExcessMarketRatio" for="ratioExcess">100</label>
			</div>
			<div>
				<h3>Under-production</h3>
				<label id="displayDeficitBatteryRatio" for="ratioDeficit">0</label>
				<%- include("../partials/slider", {id:"ratioDeficit", style:"color:red"}) %>
				<label id="displayDeficitMarketRatio" for="ratioDeficit">100</label>
			</div>
			<input onclick=<%=`deleteProsumerAccount(${prosumer.id})`%> class="btn btn-danger" type="button" value="Delete account">
		</div>
	</div>
</body>
</html>
