<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<%- include("../partials/APIAddress") %>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/prosumerOverview/prosumerOverview.js"></script>
	<script type="text/javascript" src="/js/prosumerOverview/blockProsumer.js"></script>
</head>
<body>
	<%- include("../partials/navbar.ejs") %>
	<h1>Prosumer overview</h1>
	<ul>
		<% prosumers.forEach(prosumer => { %>
			<li>
				<a 
					href=<%=`/prosumer-summary/${prosumer.id}`%>
				><%= prosumer.id %> - <%= prosumer.account.email %></a>
				<button onclick=<%= `blockProsumer(${prosumer.id})` %>>Block</button>
				<span id=<%= `blocked-status-${prosumer.id}` %>><%=prosumer.blocked ? "Blocked" : "Not blocked" %></span>
			</li>
		<% }) %>
	</ul>
</body>
</html>
