<!DOCTYPE html>
<html lang="en">
  <head>
		<%- include("../partials/APIAddress") %>
		<script type="text/javascript" src="/js/util.js"></script>
    <script
      type="text/javascript"
      src="/js/fragments/fragments.js"
    ></script>
    <script type="text/javascript" src="/js/dashboard/ratios.js"></script>
		<script type="text/javascript" src="/js/dashboard/prosumer/displayRatios.js"></script>
		<script type="text/javascript" src="/js/dashboard/data.js"></script>
		<script type="text/javascript" src="/js/dashboard/prosumer/dashboard.js"></script>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
		<%- include("../partials/navbar.ejs") %>
    <div>
      <h1>Dashboard</h1>
      <div>
				<h2>Overview</h3>
        <%- include("../partials/prosumerStatsTable") %>
      </div>
      <div>
				<h2>Ratios</h2>
        <div>
          <h3>Excessive production</h3>
					<span id="block-status"></span>
          <div>
						<label id="displayExcessBatteryRatio" for="ratioExcess"></label>
						<%- include("../partials/slider", {id:"ratioExcess"}) %>
						<label id="displayExcessMarketRatio" for="ratioExcess"></label>
          </div>
        </div>
        <div>
          <div>
            <h3>Under-production</h3>
            <div>
							<label id="displayDeficitBatteryRatio" for="ratioDeficit"></label>
							<%- include("../partials/slider", {id:"ratioDeficit"}) %>
							<label id="displayDeficitMarketRatio" for="ratioDeficit"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
